* {
    margin: 0;
    padding: 0;
}

html {
    color: #212121;
    font-weight: 600;
}

body {
    background-color: hsl(0, 0%, 98%);
}

.wrap {
    padding: 8px;
}

h1 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    background-color: rgb(0, 255, 128);
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 8px;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 1);
}

.two-parts {
    display: flex;
}

.two-parts ul {
    min-width: 300px;
}